**/BiRR2D_monoin/Builds
**/BiRR2D_monoin/JuceLibraryCode
**/BiRR3D_monoin/Builds
**/BiRR3D_monoin/JuceLibraryCode
**/BiRR2D_stereoin/Builds
**/BiRR2D_stereoin/JuceLibraryCode
**/BiRR3D_stereoin/Builds
**/BiRR3D_stereoin/JuceLibraryCode
**/BiRR3DA_stereoin/Builds
**/BiRR3DA_stereoin/JuceLibraryCode
**/.vscode
**/tests
BiRR.code-workspace
