**/BiRR2D_monoin/Builds
**/BiRR2D_monoin/JuceLibraryCode
**/BiRR3D_monoin/Builds
**/BiRR3D_monoin/JuceLibraryCode
**/BiRR2D_stereoin/Builds
**/BiRR2D_stereoin/JuceLibraryCode
**/BiRR3D_stereoin/Builds
**/BiRR3D_stereoin/JuceLibraryCode
**/lib/dsp/hrtf_header_maker
**/.vscode
**/tests
